/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


body {
	margin: 0;
	padding: 30px;
	font-family:  'Alice', serif;
	font-size: 18px;
	line-height: 1.5;
}

h1, h2, h3 {
	font-family: 'Kaushan Script', cursive;
	font-weight: normal;
	margin: 0;
}

blockquote {
	font-family: 'Kaushan Script', cursive;
}

/* --------------------------------------------------- */

/* barvy */
:root {
	--svetla: #edf3f5;
	--seda: #b2bec3;
	--tmava: #636e72;
	--oranzova: #ee5a24;
	--cervena: #ea2027;
	--zluta: #f79f1f;
	--zelena: #a3cb38;
	--limetka: #c4e538;
}

/*
	Všimni si, jak jsou zde nadefinované barvy.
	Potřebný kód barvy si odtamtud můžeš vyzobnout a použít
	ve svém kódu, ale existuje i lepší způsob.

  CSS custom properties, někdy také označované jako CSS
	variables (CSS proměnné), je způsob, jak si	pojmenovat
	nějakou hodnotu a potom ji v kódu opakovaně používat.
	Často se používá právě pro barvy a další "nastavení".

	Když si chci nějakou hodnotu nadefinovat, použiji zápis
	--mujnazev: hodnota
	Když chci, abych mohl hodnotu používat všude v CSS,
	založím ji uvnitř selektoru :root, takže např.:
	:root {
		--mojebarva: #ff8800;
	}

	Chci-li potom dál v CSS hodnotu použít, stačí použít funkci var a v závorce název proměnné.Např.:
	.odstavec {
		color: var(--mojebarva);
	}

	Nemusím si tak pamatovat kódy barev nebo neustále v CSS jezdit nahoru a dolů, abych si je odněkud zkopíroval.

	Více o CSS custom properties:
	- https://www.w3schools.com/css/css3_variables.asp
	- https://css-tricks.com/patterns-for-practical-css-custom-properties-use/
	- https://www.smashingmagazine.com/2017/04/start-using-css-custom-properties/
*/

article {
	display: grid;
	grid-template-columns: minmax(100px, 1fr) 4fr 2fr;
	align-items: start;
	gap: 40px;
	max-width: 1100px;
	margin: 0 auto;
}

header {
	grid-column: 2;
}

h1 {
	color: var(--zelena);
	font-size: 70px;
}

.meta {
	color: var(--seda);
	font-size: 16px;
}

p {
	grid-column: 2;
	margin: 0;
}

figure {
	grid-column: 1 / span 3;
	color: var(--seda);
	margin: 0;
}

figure img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

blockquote {
	grid-column: 1 / span 3;
	color: var(--tmava);
	font-size: 35px;
	margin: 0 auto;
	text-align: center;
}

blockquote::before,
blockquote::after {
	content: " ";
	display: block;
	width: 200px;
	height: 3px;
	margin: 20px auto;
	background-color: var(--limetka);
}

h2 {
	grid-column: 2;
	color: var(--limetka);
	font-size: 60px;
}

.palacinky {
	display: flex;
	flex-direction: column;
}

.tip {
	background-color: var(--svetla);
	padding: 15px;
	font-size: 16px;
}

.tip-vlevo {
	grid-column: 1;
	border-right: 3px solid var(--zluta);
}

.tip-vpravo {
	grid-column: -2;
	border-left: 3px solid var(--zluta);
}

footer {
	grid-column: 2;
	color: var(--seda);
}

footer a {
	text-decoration: none;
	color: var(--seda);
}

@media screen and (max-width: 860px) {
	header, 
	h2 {
		grid-column: 1 / span 3;
		margin: 0 20px;
	}
}

@media screen and (max-width: 710px) {
	article {
		grid-template-columns: 1fr;
		gap: 25px;
	}

	header,
	p,
	figure,
	blockquote, 
	.tip,
	footer {
		grid-column: 1;
	}

	h1,
	h2 {
		font-size: 50px;
	}

	blockquote {
		font-size: 30px;
	}

	.tip {
		border-left: none;
		border-right: none;
		border-top: 3px solid var(--zluta);
	}

	.palacinky {
		flex-direction: row;
	}

	.palacinky img {
		max-width: 50%;
		margin-right: 20px;
	}
}